---
layout: text
title: about
permalink: /about.html
external_links_blank: true
---
{% assign about = site.data.about %}

{% for line in about.bio %}
<p>{{ line }}</p>
{% endfor %}

<br />

<p class="heading">activities</p>
{% for group in about.activities %}
  {% for item in group.items %}
    {% if forloop.first %}
<p class="yearlist"><span class="year">{{ group.year }}</span>{{ item }}</p>
    {% else %}
<p class="yearlist"><span class="year"></span>{{ item }}</p>
    {% endif %}
  {% endfor %}
{% endfor %}

<br />

<p class="heading">selected exhibitions</p>
{% for group in about.exhibitions %}
  {% for item in group.items %}
    {% if forloop.first %}
<p class="yearlist"><span class="year">{{ group.year }}</span>{{ item }}</p>
    {% else %}
<p class="yearlist"><span class="year"></span>{{ item }}</p>
    {% endif %}
  {% endfor %}
{% endfor %}
